*{
    font-family: Arial, Helvetica, sans-serif;
}
.div_xit{
    display: flex;
    font-family: Raleway;
    margin-bottom: 60px;
    margin-top: 20px;
}
.p_hit1{
    font-size: 50px;
    line-height: 50px;
    margin-left: 220px;
}
.p_hit2,.p_hit4,.p_hit6,.p_hit8{
    line-height: 24px;
    font-size: 20px ;
    margin-left: 260px;
}
.p_hit3,.p_hit5,.p_hit7,.p_hit9{
    font-size: 14px;
    color: rgba(20, 22, 21, 0.4);
    line-height: 17px;
    margin-left: 250px;

}
.hit_img{
    width: 70%;
    margin-left: 380px;
}
.div_hit1{
    margin-top: 120px;
}