*{
    font-family: Arial, Helvetica, sans-serif;
}
.bike2{
    width: 800px;
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 100px;
}
.lok{
    font-family: Raleway;
    display: flex;
    align-items: center;

}
.text{
    margin-left: 240px
}
.ip{
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 20px;
}
.ip1{
    font-size: 20px;
}
.button3{
    border: none;
    background-color: white ;
    font-family: Raleway;
    width: 17%;
    height: 25px;
}
.butotton3:hover{
    background-color: rgb(220,220,220) ;
    border-radius: 5px;
    cursor: pointer; 
}
.button3:active{
    background-color: grey;
}