*{
    font-family: Arial;
    margin-left: 0;
    margin-right: 0;
}

.ownheader{
    position: relative;
    display: flex;
    justify-content: space-between;

}

.header{
    position: relative;
    display: flex;
    

}

.veloretti{
    margin-left: 90px;
    margin-right: 90px;
    font-weight: 570;
}

.electric1{
    width: 85;
    height: 15;
    margin-right: 20px;
    border: none;
   

}

.city1{
    width: 55;
    height: 15;
    margin-right: 20px;
    border: none;

}

.KIDS1{
    width: 55;
    height: 15;
    margin-right: 20px;
    border: none;

}

.STORES{
    width: 55;
    height: 15;
    margin-right: 20px; 

}

.ACCESSORIES{
    width: 55;
    height: 15;
    margin-right: 20px;

}

.Leasing{
    margin-right: 20px;
    border: none;

}

.lightHeader1{
    position: relative;
    display: flex;

}

.flag1{
    width: 15px;
    height: 15px;
    margin-top: 17px;
    margin-right: 20px;
}

.chel1{
    width: 21px;
    height: 18.66px;
    margin-top: 17px;
    margin-right: 20px;
}

.beg1{
    width: 21px;
    height: 16px;
    margin-top: 17px;
    margin-right: 100px;
}

.text{
    text-align: left;
color: white;
    padding-left: 40px;
}

.biketext1{
    position: absolute;
    bottom: 390px;
    left: 25px;
    font-size: 20px;

}

.biketext2{
    position: absolute;
    bottom: 200px;
    left: 20px;
    font-size: 100px;

}

.bike1{
    width: 100%;
}

.velochel{
    margin-left: 42.34px;
    margin-top: 91px;
    margin-bottom: 90px;
    margin-right: 200px;
    float: left;
    width: 635.29px;
    height: 635px;

}

.textik{

    font-size: 50px;

}

.textik1{

    font-size: 15px;

}

.textik2{

    font-size: 20px;

}

.chelovel2{
    margin-top: 270px;
    margin-right: 600px;
    margin-left: 50px;
}

.bike3{

        width: 100%;
   

}

.biketext3{
    position: relative;
    bottom: 400px;
    left: 70px;
    font-size: 100px;

}

.biketext4{
    position: relative;
    bottom: 600px;
    left: 70px;
    font-size: 30px;
}

.text2{
    text-align: left;
    color: white;
        padding-left: 40px; 

}